In [1]:
import pandas as pd

In [2]:
out_directory = 'out/'

In [3]:
names=['year',
       'month',
       'decimal date',
       'average',
       'interpolated',
       'trend',
       'num days']

In [4]:
raw_data = pd.read_csv('co2_mm_mlo.txt', 
                       comment='#', 
                       sep="\s+", 
                       header=None, 
                       index_col=1, 
                       names=names, 
                       na_values=[-99.99, -1], 
                       parse_dates={'date':[0, 1]}
                      )
raw_data.head()

                   date  average  interpolated   trend  num days
decimal date
1958.208     1958-03-01   315.71        315.71  314.62       NaN
1958.292     1958-04-01   317.45        317.45  315.29       NaN
1958.375     1958-05-01   317.50        317.50  314.71       NaN
1958.458     1958-06-01      NaN        317.10  314.85       NaN
1958.542     1958-07-01   315.86        315.86  314.98       NaN

In [5]:
data = raw_data.copy()

In [6]:
data['decade'] = data.index//10*10

In [7]:
for decade in data['decade'].unique():
    print(f"Writing File for decade {int(decade)}.")
    
    data.query(
        f'decade=={decade}'
    )[[
        'average'
    ]].to_csv(
        f'{out_directory}co2_mm_{int(decade)}s.csv'
    )

print('Done.')

Writing File for decade 1950.
Writing File for decade 1960.
Writing File for decade 1970.
Writing File for decade 1980.
Writing File for decade 1990.
Writing File for decade 2000.
Writing File for decade 2010.
Done.